@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    padding: 40px 125px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
header a{
    text-decoration: none;
    color:inherit;
}
header .logo{
    color: #68AF56;
    font-size: 48px;
}
.side-links{
    display: flex;
    gap: 16px;
}
.side-links div{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    height:40px;
    width:110px;
    border-radius: 20px;
    background-color: #68AF56;
    color:white;
    transition: 250ms ease-in-out;
}
.side-links div:hover{
    background-color: #5A954C;
}
.frontpage{
    background-image: url(Images/pexels-felix-mittermeier-957024.jpg);
    background-position: center;
    background-size: cover;
    height: 840px;
    margin-top:140px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frontpage .logo{
    font-size:98px;
}
.frontpage .sub-text{
    text-align: center;
    font-size: 24px;
    font-weight:300;
    margin-bottom: 16px;;
}
.info-navigators{
    display: flex;
    gap: 16px;
}
.info-navigators div{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    height:40px;
    width:110px;
    border-radius: 20px;
    background-color: #68AF56;
    color:white;
    transition: 250ms ease-in-out;
}
.info-navigators div:hover{
    background-color: #5A954C;
}
.frontpage a{
    text-decoration: none;
    color:inherit;
    height:40px;
    width:110px;

}
.content{
    padding: 40px 125px;
}
#what,#who,#why,#how{
    scroll-margin-block-start: 140px;
    /*Adds margin to the top of the viewport*/
    
    scroll-margin-block-end: 110px;
    /*Adds margin to the bottom of the viewport*/
}
.c-1,.c-3{
    background-color: #5A954C;
    display: flex;
    color: white;
}
.c-1 img,.c-3 img{
    width: 100%;
    height:auto;
}
.c-1 article, .c-3 article{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
article .paragraphs{
    font-size: 18px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
article h1{
    font-size: 48px;
}
.c-1 a,.c-3 a{
    text-decoration: none;
    color:inherit;
}
.c-1 .see-more-button,.c-1 a,.c-3 .see-more-button,.c-3 a{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:110px;
    background-color: #5A954C;
    border-radius: 20px;
    box-shadow: 0 4px 2px 0.5px #272727;
    transition: 250ms ease-in-out;
}
.c-1 .see-more-button:hover,.c-3 .see-more-button:hover{
    background-color: #68AF56;
}
.c-2{
    background-color: #68AF56;
    display: flex;
    color: white;
}
.c-2 img{
    width: 100%;
    height:auto;
}
.c-2 article{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 16px;
}
article .paragraphs{
    font-size: 18px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.c-2 .paragraphs, .c-2 h1{
    text-align: right;
}
article h1{
    font-size: 48px;
}
.c-2 a{
    text-decoration: none;
    color:inherit;
}
.c-2 .see-more-button,.c-2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:110px;
    background-color: #68AF56;
    border-radius: 20px;
    box-shadow: 0 4px 2px 0.5px #272727;
    transition: 250ms ease-in-out;
}
.c-2 .see-more-button:hover{
    background-color: #5A954C;
}
.c-4{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #68AF56;
    gap: 48px;
}
.c-4-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c-4-header h1{
    font-size: 48px;
}
.c-4-header p{
    font-size: 18px;
    text-align: center;
}
.c-4-informations{
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0 185px;
}
.c-4-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.c-4-items h2{
    font-size: 40px;
}
.c-4-items p{
    font-size: 18px;
}
.c-4-items img{
    width: 325px;
    height:auto;
}
.c-4-items article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.c-4-right-text-align{
    text-align: right;
}
.c-4 .see-more-button,.c-4 a{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:110px;
    background-color: #68AF56;
    border-radius: 20px;
    box-shadow: 0 4px 2px 0.5px #272727;
    transition: 250ms ease-in-out;
    text-decoration: none;
    color:white;
}
.c-4 .see-more-button:hover{
    background-color: #5A954C;
}
.c-5{
    background-color: #5A954C;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.c-5 h1{
    font-size: 40px;
    text-align: center;
}
.c-5 p{
    font-size: 18px;
}
.c-5 span{
    font-weight: 800;
}
.have-questions-form{
    display:flex;
    flex-direction: column;
    gap: 8px;
}
.c-5 form{
    padding: 40px;
    background-color: #68AF56;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 12px;
}
label{
    font-size: 18px;
}
input{
    height: 50px;
    outline:none;
    padding: 8px;
    border: none;
    border-radius: 12px;
}
textarea{
    height: 100px;
    outline:none;
    padding: 8px;
    border: none;
    border-radius: 12px;
}
input[type="submit"]{
    cursor: pointer;
    font-weight: 700;
    color: #68AF56;
    width:100px;
    height:45px;
    transition: 250ms ease-in-out;
}
input[type="submit"]:hover{
    color: white;
    background-color: #5A954C;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
}
footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#68AF56;
}
footer a{
    text-decoration: none;
    color: inherit;
}
footer a:hover{
    text-decoration: underline;
}